  <body>
    <div class="container">
      <%= form_with(model: video, local: true) do |form| %>
        <% if video.errors.any? %>
          <div class="form-group error">
            <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

            <ul>
              <% video.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>

        <div class="form-group">
          <%= form.label :thumbnail %>
          <%= form.text_field :thumbnail %>
        </div>

        <div class="form-group">
          <%= form.label :description %>
          <%= form.text_area :description %>
        </div>

        <div class="form-group">
          <%= form.label :video %>
          <%= form.file_field :video %>
        </div>

        <div class="form-group">
          <%= form.submit "Save Video", class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </body>