<!DOCTYPE html>
<html>
  <head>
    <title>SimTube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icon.ico' %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
        color: #343a40;
      }

      .navbar {
        background-color: rgb(247, 89, 116) !important;
      }

      .navbar-brand {
        font-weight: 500;
        font-size: 1.5rem;
        color: #ffffff !important;
      }

      .nav-link img {
        transition: transform 0.2s ease-in-out;
      }

      .nav-link img:hover {
        transform: scale(1.2);
      }

      .nav-link {
        color: #ffffff !important;
      }

    </style>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h1 style="text-align: center;">SimTube</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item" style="text-align: center;">
                <%= link_to image_tag("home.png", size: "32x32"), root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to image_tag('plus.png', size: "32x32"), new_video_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to image_tag('cup.png', size: "32x32"), root_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>